.holder{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.one{
	height:40px;
	width:40px;
	border: 2px solid black;
}
#one{
	background-color:red;
}
#two{
	background-color:blue;
}
#three{
	background-color:pink;
}
#four{
	background-color:green;
}
